:root{
  /* 브랜드 컬러 */
  --backgound-color-1fa: #1FAA9C;

  --border-color-1fa: #1FAA9C;

  --font-color-1fa: #1FAA9C;
  



  --background-color-f5: #f5f5f5;
  --background-color-ff: #fff;

  --border-color-da: #dadada;
  --border-color-c6: #c6c6c6;

  --font-color-88: #888;

  --font-size-xx-small : 14px;
  --font-size-small : 16px;
  --font-size-medium: 18px;
  --font-size-large: 30px;
  --font-size-xx-large: 40px;
}

.input_box {
  border: 1px solid var(--border-color-da);
  padding: 12px;
  border-radius: 6px;
}
