<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OrderAndGo</title>

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="static/css/responsive.css">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/common.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <!-- <link rel="stylesheet" href="static/css/main.css"> -->
  <style>
    body {
      display: flex;
      gap: 10px;
      flex-flow: column;
      background: #694757;
    }
    body > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    a {
      width: max-content;
      padding: 10px 20px;
      border: 1px solid var(--border-color-1fa);
      border-radius: 10px;
      color: var(--border-color-1fa);
    }
  </style>
</head>
<body>
  <h1>OrderAndGo</h1>
  <div>
    <span>관리자 페이지로 이동하기 : </span>
    <a href="./adm">adm</a>
  </div>
  <div>
    <span>포스 페이지로 이동하기 : </span>
    <a href="./pos/tableList">pos</a>
  </div>
  <!-- 공통 스크립트 -->
  <!-- <script src="static/js/common.js"></script> -->
  <!-- 전용 스크립트 -->
  <!-- <script src="static/js/main.js"></script> -->
</body>
</html>