<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>orderandgo</title>
  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body class="login">
  <main>
    <h1>
      <a href="">
        <img src="/static/images/common/logo-order&go-color.png" alt="">
      </a>
    </h1>
    <form action="/login" method="POST">
      <label for="">핸드폰번호</label>
      <div class="tel_box">
        <input type='tel' data-index="0" name='phone1' maxlength="3" oninput="changeInputTel(event)" />
        <span>-</span>
        <input type='tel' data-index="1" name='phone2' maxlength="4" oninput="changeInputTel(event)"/>
        <span>-</span>
        <input type='tel' data-index="2" name='phone3' maxlength="4" oninput="changeInputTel(event)"/>
      </div>
      <label for="">비밀번호</label>
      <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
      <!-- <div class="input_save_id">
        <input type="checkbox" hidden id="save_id">
        <label for="save_id">
          <i class="ph ph-check-circle"></i>
          <span>아이디 저장</span>
        </label>
      </div> -->
      <input type="submit" value="로그인">
      <div class="buttons">
        <a href="/register">회원가입</a>
        <a href="/find_password">비밀번호 찾기</a>
      </div>
    </form>
  </main>
  <script src="static/js/login.js"></script>
</body>
</html>