<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OrderAndGo</title>

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/store.css">
</head>
<body class="set_menu_product">
  <div id="container">
    <header>
      <!-- <h1>POS - Header</h1>-->
      <a class="back_btn" href="/pos/tableList">
        <i class="ph-bold ph-caret-left"></i>
      </a>
      <div class="center">
        <a href="">
          <h1>
            <img src="/static/images/common/logo-order&go-white.png" alt="">
          </h1>
        </a>
        <div class="header_info">
          <span>2023-05-01(월) 14:00</span>
          <span class="store_state" data-state="open">영업중</span>
        </div>
      </div>
    </header>
    <section>
      <ul>
        <li>
          <h2>메인 카테고리</h2>
          <button class="input_box">
            <span>전체</span>
            <i class="ph ph-caret-down"></i>
          </button>
        </li>
        <li>
          <h2>서브 카테고리</h2>
          <button class="input_box">
            <span>전체</span>
            <i class="ph ph-caret-down"></i>
          </button>
        </li>
        <li>
          <h2>조회 구분</h2>
          <button class="input_box">
            <span>메뉴명</span>
            <i class="ph ph-caret-down"></i>
          </button>
          <button class="input_box"></button>
        </li>
        <li>
          <button class="search_btn">조회</button>
        </li>
      </ul>
    </section>
    <main>
    </main>
  </div>
  
  <!-- 공통 스크립트 -->
  <script src="/static/js/common.js"></script>
  <!-- 전용 스크립트 -->
  <!-- <script src="/static/js/menuList.js"></script> -->
</body>
</html>